acres==0.3.0
camel-ai
certifi==2025.4.26
charset-normalizer==3.4.2
ci-info==0.3.0
colorama==0.4.6
configobj==5.0.9
configparser==7.2.0
darkdetect==0.8.0
filelock==3.18.0
idna==3.10
looseversion==1.3.0
lxml==5.4.0
networkx==3.4.2
numpy==2.2.5
packaging==25.0
pathlib==1.0.1
pip==25.1
puremagic==1.29
PyMuPDF==1.25.5
pyparsing==3.2.3
PyQt-Fluent-Widgets==1.7.7
PyQt5==5.15.11
PyQt5-Frameless-Window==0.6.0
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
pytz==2025.2
pywin32==310
requests==2.32.3
scipy==1.15.2
setuptools==78.1.1
simplejson==3.20.1
six==1.17.0
traits==7.0.2
tzdata==2025.2
urllib3==2.4.0
wheel==0.45.1
Pillow
unstructured
